body{
    background-color: darksalmon;
}
#h3-1{
    font-style: italic; color: firebrick;
}
#h1-1{
    background-color: rgba(238, 68, 68, 0.479); color: firebrick;
}
bn1{
    background-color: rgba(238, 68, 68, 0.479);
}